/* google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

/* Subscribe Newsletter Section */
.subscriber-newsletter-section{
    background: #734444;
    margin: 100px 0;
    text-align: center;
    padding: 90px 0;
    color: #fff;
    border-top: 8px solid mediumseagreen;
}

.subscriber-newsletter-title{
    margin: 30px 0;
}

input[type="email"] {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    margin-top: 40px;
    padding: 0 40px;
    font-size: 20px;
}
input[type="submit"] {
    width: 210px;
    height: 72px;
    border-radius: 50px;
    background: mediumseagreen;
    color: #fff;
    font-size: 20px;
}


/* Footer Styles */
.footer-section{
    max-width: 1600px;
    background: mediumseagreen;
    color: #fff;
    padding: 80px 0;
    margin: 0 auto;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-foot{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.social-media-container{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.address{
    margin-top: 20px; 
}

.phone-icon-section{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.website-icon-section{
    display: flex;
    gap: 10px;
}